//Base
a{ text-decoration:none; color:  inherit;}
html, body{
        font-family:  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
        font-size:  16px;
        line-height: 1.4;
        height:  100%;  

        margin: 0;
        padding: 0;
        overflow: hidden;

    }
    a {
        color: inherit;
    }
    h1,h1 a { 
        color:  var(--primary-text-color);
    
    } 
    a { 
        color:  var(--secondary-text-color);
    
    } 
    body{
        color: var(--primary-text-color) ;
    
    }
 
:root{
    --dark-primary-color   : #303F9F; 
    --default-primary-color: #3F51B5; 
    --light-primary-color  : #C5CAE9; 
    --text-primary-color   : #FFFFFF; 
    --accent-color         : #FF9800; 
    --primary-text-color   : #212121; 
    --secondary-text-color : #757575;  
    --divider-color        : #BDBDBD;  

}   

.dark-primary-color    { background: var(--dark-primary-color); }
.default-primary-color { background: var(--default-primary-color); }
.light-primary-color   { background: var(--light-primary-color); }
.text-primary-color    { color: var(--text-primary-color); }
.accent-color          { background: var(--accent-color ); }
.primary-text-color    { color: var(--primary-text-color); }
.secondary-text-color  { color: var(--secondary-text-color); }
.divider-color         { border-color: var(--divider-color); }

//small page
 
.site-pusher, .site-container { height: 100%; }
.site-container {   }

.site-container{
     
    .site-pusher {
        #allpages {
             
            padding: 0;
            overflow-y: scroll;
            position: absolute;
            top: 282px;
            bottom: 0px;
            right: 0;
            left: 0;
            #wrapper-footer{
                padding: 10px 15px;
                text-align: center;
                background-color: var(--default-primary-color);
                color: var(--text-primary-color);
                a{
                    color: var(--text-primary-color);
                }
            }

        }
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
         
        #header {  
            
            left: 0;
            right: 0;
            height: 282px;
            background-color: var(--default-primary-color);
            .logo-branding{ 
                padding: 55px 100px 26px;
                height: 159px;
                position: relative;
                .logo_text {
                    text-shadow: 0 4px 4px rgba(0,0,0,.25);
                    font-size: 52px;
                    font-style: normal;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 0; 
                    position: relative;
                    top: 39px; 
                    float: left;
                }
                h1{

                }
                .logo_tagline {
                    width: 200px; 
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    position: absolute;
                    left: 145px;
                    top: 193px;
                }
                .logo_tagline-only{

                }
                .custom-logo-link{
                    float: left;
                    height: 159px;
                }
                .logo_text-color, .logo_text-color a{
                    color: var(--text-primary-color)  ;
                }
            }
            #main-nav{
                background: var(--dark-primary-color);
                height: 40px;
                line-height: 40px;
                color: var(--text-primary-color);
                font-weight: 700;
                float: none; 
                border-top: 1px solid var(--divider-color);
                border-bottom: 1px solid var(--divider-color);
                #navbarNavDropdown{ 
                    
                    ul{
                        padding: 0;
                        margin: 0;
                        list-style-type: none;
                        li{
                            float: left;
                        }
                    }
                    .sub-menu {
                        background-color: var(--dark-primary-color);
                        overflow: hidden;
                        height: 0px;
                        position: absolute;
                        z-index: 99999;
                        li{
                            float: none;
                        }
                        clip: rect(auto, auto, 0, auto);
                        transition-delay: 0.0;
                        transition-property: clip;
                        transition-duration: 0.5s;
                        transition-timing-function: cubic-bezier(0.42, 0, 0.69, 1.52);

                    }
                    .ClickMenu {

                    }
                    a{
                        color: var(--text-primary-color);
                        padding: 0 12px;    
                        height: 40px;
                        display: block;
                    }
                    a:hover{
                        background-color: var(--accent-color);
                    }
                    li:hover{
                        
                        .sub-menu { 
                            clip: rect(auto, auto, 40px, auto);
                            height: auto; 
                            li{ 

                            }
    
                        }
                    }
                    
                }

                    
            }
        }
    }
}
.navbar-toggler{
    display: none;
    float: left;        
}

.sticky{
    .site-container{    
        #allpages {
             
            padding: 0; 
            top: 154px;
            bottom: 0px; 

        }
    }
    .site-pusher {
              
        #header {  
            position: static;
            height: 150px;
            padding: 2px 0 ;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
             
             
            .logo-branding {
                padding: 0 10px;
                height: 110px; 
                .logo_text {
                    top: 0;
                    position: relative;
                    line-height: 110px;
                    height: 110px;
                    padding: 0 0 0 5px;
                    font-size: 40px;
                } 
                .logo_tagline {
                    display: none;
                } 
                .custom-logo-link{
                   
                     height: 110px; 
                    a{
                        height: inherit;
                        img{
                            height: inherit;
                        }
                    }
                }
            }
            
        } 
     
    }
}

@media only screen and  (max-width: 1300px) {
    .site-container{
         
        .site-pusher {
            
        } 
    }
   

} 
@media  only screen and  (max-width: 768px) {
    .site-container{
         

        .site-pusher {
             
            transition-duration: 0.3s;
            transform: translateX(0px) cubic-bezier(0, 0, 0, 1.82);
         #allpages {
             
            padding: 0; 
            top: 70px;
            bottom: 0px;

        }       
            #header {  
                position: static;
                height: 66px;
                padding: 2px 0 ;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                #main-nav {
                    border-top: 0px none;
                    border-bottom: 0px none;
                    float: right;
                    padding: 10px 0 0 0;
                    background: none;
                    .navbar-toggler{
                        position: relative;
                        display: block;
                        float: right;
                        width: 40px;
                        height: 45px;
                        
                        cursor: pointer; 
                    }
                    .navbar-toggler:after {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 1rem;
                        height: 0; 
                        top: 4px;
                        left: 10px;
                        box-shadow: 0 10px 0 1px var(--text-primary-color), 0 16px 0 1px var(--text-primary-color), 0 22px 0 1px var(--text-primary-color);
                    }
            
                    
                }
                #navbarNavDropdown{
                    background-color: var(--dark-primary-color);
                    
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 250px;

                    transform: translateX(-250px) ;
                    ul#main-menu{
                        padding: 0;
                        margin: 0;
                        list-style-type: none;
                        li{
                            float: none;
                            ul.sub-menu {
                                background-color: var(--light-primary-color);
                                color: var(--primary-text-color);
                                overflow: auto;
                                height: auto;
                                position: unset;
                                transform: none;
                                li{
                                    float: none;
                                    a{
                                        color: var(--primary-text-color);
                                    }  
                                        
                                }  

                            }
                        }
                    }
                    
                    a{
                        display: block;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        border-bottom: 1px solid var(--divider-color);
                    }
                }
                .logo-branding {
                    padding: 0 10px;
                    height: 66px;
                    float: left;
                    .logo_text {
                        font-style: normal;  
                        margin: 0;
                        position: relative;
                        top: 39px;
                        float: left;
                        font-size: 40px;
                        padding: 0 10px; 
                        top: 0px; 
                        line-height: 66px;
                        height: 66px;
                    } 
                    .logo_tagline {
                        width: 200px;  
                        position: absolute;
                        left: 321px;
                        top: 169px; 
                    } 
                    .custom-logo-link{
                        float: left;
                        height: 66px;
                        a{
                            height: inherit;
                            img{
                                height: inherit;
                            }
                        }
                    }
                }
                
            } 
         
        }
        
        
    } 
    .navbarNavDropdown_show{
        .site-pusher {
               transform: translateX(250px);
               
       
       } 
   }
} 

